<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <style>
      .login {
        padding: 50px;
        width: 400px;
        margin: 0 auto;
      }
      .loading{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 11;
        background: rgba(0, 0, 0, 0.5);
        padding: 50px;
        text-align: center;
        color: #fff;
      }
  </style>
</head>
<body>

  <div id="app">
    <div class="loading" v-if="isLoading">
      loading...
    </div>
    <form action="" class="login">
      <div class="login-p">
        <input type="text" placeholder="用户名" v-model="username">
      </div>
      <div class="login-p">
        <input type="password" placeholder="密码" v-model="password">
      </div>
      <div class="login-p">
        <button type="button" name="button" :disabled="!canSubmit" @click="submit">提交</button>
      </div>
    </form>
  </div>

  <script src="/assets/js/jquery-3.2.1.js"></script>
  <script src="/assets/js/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        isLoading: false,
        username: '',
        password: '',
      },
      computed: {
        canSubmit() {
          return this.username.trim() && this.password.trim();
        }
      },
      methods: {
        submit() {
          this.isLoading = true;
          $.ajax({
            url: '/api/login',
            type: 'post',
            data: {
              username: this.username.trim(),
              password: this.password.trim(),
            }
          }).done(function(data) {
            this.isLoading = false;
            if (data.error) {
              alert(data.error.message);
              return;
            }
            window.location.href = '/';
          }.bind(this))
          .fail(function(error) {
            this.isLoading = false;
            alert('网络错误');
          }.bind(this));
        }
      },
      mounted: function() {

      }
    });
  </script>
</body>
</html>
